[deps.go-etcd]
  import = "github.com/coreos/go-etcd"
  source = "https://github.com/coreos/go-etcd"
  scm = "git"
  commit = "1e26d8ee84cf9b1000d2af8acfb45b2521f49be5"

[deps.gograce]
  import = "github.com/daaku/go.grace"
  source = "https://github.com/daaku/go.grace"
  commit = "3bfe2f78adfea8ff0b8f36cf693f4f6209b9d78a"
  scm = "git"
